@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #469344;
  --color-primary-content: #ffffff;
  --color-secondary: #ff0000;
  --color-secondary-content: #ffffff;
  --color-success: #469344;
}

html, :host {
  font-family: "Open Sans", ui-sans-serif, sans-serif;
}
